.w262{
    width: 262px;
}
.w422{
    width: 422px;
}
.w521{
    width: 521px;
}
.w687{
    width: 687px;
}
.w362{
    width: 362px;
}
.w162{
width: 162px;
}
.w132{
width: 162px;
}
.w80{
width: 80px;
}
.role-top, .bank_table{
    width: 100%;
    position: relative;
    .set-con{
        margin-top: 15px;
    }
    .td-line{
        float: left;
        margin-right: 24px; 
        margin-bottom: 10px;
        .name{
        display: inline-block;
        margin-right: 6px;
        }
    }
    .expand-box{
        position: absolute;
        right: 8px;
        top: 0px;
        font-size: 13px;
        cursor: pointer;
        &:hover{
        color: #ff0036;
        text-decoration: none;
        }
    }
    .role-top-left{
        float: left;
        width: 300px;
    }
    .role-top-right{
        float: right;
    }
    .btn{
        margin-right: 10px;
    }
    .ipt{
        margin-right: 10px;
    }
}
//modal自定义按钮
.handleModalBtn {
    .btnGroup {
        text-align: right;
        button {
            &:last-child{
                margin-left: 20px;
            }
        }
    }
}

.hideFootModal {
    .ivu-modal-footer {
        display: none;
    }
    //首页配置-上传图片控件样式
    .ivu-form {
        .ivu-form-item {
          .btn-upload{
            display: inline-block;
            position: relative;
            .upload-img{
              margin-left: 8px;
              width: 80px;
              height: 32px;
            }
            .img-ipt{
              position: absolute;
              left: 8px;
              opacity: 0;
              width: 80px;
              height: 32px;
            }
            .tips-upload{
              font-size: 12px;
              color: #999;
              text-align: left;
              position: absolute;
              top: 40px;
              line-height: 16px;
              width: 211px;
              left: 8px;
            }
          }
        }
      }
}